lerning.css
lerning.js
prototyp.endboss.class.js
prototyp.endscreen.class.js
startScreen.class.js
style1.css

i18n-seed.js

game-image1.jpg
game-image2.jpg
game-image3.jpg

dead-walking.mp3
endboss_alert_attack_hurt.mp3
endboss_alert1.mp3